<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span >Home</span>
        </button>
        <button mat-menu-item  routerLink="loader">
          <mat-icon>fiber_manual_record</mat-icon>
          <span >Loader</span>
        </button>
        <button mat-menu-item routerLink="error">
          <mat-icon>error</mat-icon>
          <span>Error</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space"> {{ title }}</span>
  </mat-toolbar>
<main class="main">
    <button mat-raised-button color="primary" (click)="getUser()">Get user</button>
    <pre>{{ response | json }}</pre>
    <hr>
  <router-outlet></router-outlet>
</main>

